{% extends "layouts/main-authorized.twig" %}

{% block title %}
    Personal Page of user {{ data.userInfo.login }}
{% endblock %}

{% block content %}
    <!-- Avatart block -->

    {% if data.avatar is not null %}
        <img src="{{ data.avatar.avatar }}" alt="" width="200" height="200">
    {% else %}
        {% if data.userInfo.sex == 1 %}
            <img src="/public/img/girl.jpg" alt="" width="200" height="200">
        {% elseif data.userInfo.sex == 2 %}
            <img src="/public/img/jason.jpg" alt="" width="200" height="200">
        {% else %}
            <img src="/public/img/it.jpg" alt="" width="200" height="200">
        {% endif %}
    {% endif %}

    <p>Upload New Avatar</p>

    <form action="/id{{ data.userInfo.id }}/avatar/upload" method="post" enctype="multipart/form-data">
        <input id="avatar" name="avatar" type="file">
        <button type="submit">Upload Avatar</button>
    </form>

    <p>Delete Avatar</p>
    <form action="/id{{ data.userInfo.id }}/avatar/delete" method="post">
        <input type="hidden" id="hidden_{{ data.avatar.id }}" name="avatar_id"
               value="{{ data.avatar.id }}">
    <button type="submit">DELETE AVATAR</button>
    </form>
    <br>

    <ul>
        <li>Login: {{ data.userInfo.login }}</li>
        <li>Name: {{ data.userInfo.first_name }}</li>
        <li>Surname: {{ data.userInfo.surname }}</li>
        <li>Sex:
            {% if data.userInfo.sex == 1  %}
            Female
            {% elseif data.userInfo.sex == 2 %}
            Male
            {% elseif data.userInfo.sex is not defined or data.userInfo.sex == 3 %}
            It
            {% endif %}
        </li>
        <li>{% if data.userInfo.sex == 1 %}
            She
            {% elseif data.userInfo.sex == 2 %}
            He
            {% else %}
            It
            {% endif %} prefers:
            {% if data.userInfo.sex_pref_id == 1 %}
            Girls
            {% elseif data.userInfo.sex_pref_id == 2 %}
            Boys
            {% else %}
            Everyone
            {% endif %}
        </li>
        <li>
            Interests: {{ data.userInfo.tags }}
        </li>
        <li>About: {{ data.userInfo.biography }}</li>
    </ul>


    <a href="{{ path_for("change-info") }}">Change Personal Info</a><br>
    <a href="{{ path_for("change-password") }}">Change Password</a><br>
    <a href="{{ path_for("change-email") }}">Change Email</a><br>
    <a href="{{ path_for("change-login") }}">Change Login</a><br>

    <p>Upload Images</p>
    <form action="/id{{ data.userInfo.id }}/photo/upload" method="post" enctype="multipart/form-data">
        <input id="photos" name="photos[]" type="file" multiple="multiple">
        <button type="submit">Upload Photos</button>
    </form>

    {% for photo in data.photos %}
        <div class="photo">
            <img id="photo_{{ photo.id }}"
                 src="{{ photo.photo }}" alt="" width="200" height="200">
            <form action="/id{{ data.userInfo.id }}/photo/delete" method="post">
                <input type="hidden" id="hidden_{{ photo.id }}" name="photo_id"
                       value="{{ photo.id }}">
                <button type="submit">DELETE PHOTO</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}